node-red-flows.json
[
    {
        "id": "18c1a16c3624dbe9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f04d2c6add766a5c",
        "type": "subscribe-event",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "ecf5c7010241d155",
        "event": "entrance",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "d37284e386a62d51"
            ]
        ]
    },
    {
        "id": "23a6feee4884bc3e",
        "type": "subscribe-event",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "ecf5c7010241d155",
        "event": "exit",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "35a1c8f58317fa37"
            ]
        ]
    },
    {
        "id": "d37284e386a62d51",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Turn on when entering and room is dark",
        "func": "let threshold = 30;\nif (msg.userPolicy == \"auto\" && msg.detected >= 1 && msg.brightnessLevel < threshold)\n    return msg;\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "597506e6593ceed0"
            ]
        ]
    },
    {
        "id": "cac6dc39a8bb070b",
        "type": "read-property",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "b507ea74aba2255b",
        "property": "brightnessLevel",
        "uriVariables": "",
        "interval": 5,
        "observe": true,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "d37284e386a62d51",
                "bd27dae8d0a9a1ef",
                "81f1b9b46745b38a",
                "018e240aac75e7d9"
            ]
        ]
    },
    {
        "id": "bd27dae8d0a9a1ef",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Switch off if too bright",
        "func": "let threshold = 50;\nif (msg.userPolicy == \"auto\" && msg.brightnessLevel > threshold)\n    return msg;\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 660,
        "wires": [
            [
                "d3f8722a40369012"
            ]
        ]
    },
    {
        "id": "81f1b9b46745b38a",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Lighten when too dark and room is not empty or if user requested so",
        "func": "let preference = 30;\nif ((msg.userPolicy == \"auto\" && msg.detected >= 1 && msg.brightnessLevel < preference) || \n    (msg.userPolicy == \"alwaysOn\" && msg.lightBrightnessLevel < preference))\n    return msg;\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "597506e6593ceed0"
            ]
        ]
    },
    {
        "id": "bf0827c2c7b32e19",
        "type": "read-property",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "ecf5c7010241d155",
        "property": "detected",
        "uriVariables": "",
        "interval": 5,
        "observe": true,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "d37284e386a62d51",
                "35a1c8f58317fa37",
                "81f1b9b46745b38a",
                "018e240aac75e7d9"
            ]
        ]
    },
    {
        "id": "e81a166793d1ff49",
        "type": "read-property",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "79d668470421dc01",
        "property": "userPolicy",
        "uriVariables": "",
        "interval": 5,
        "observe": true,
        "x": 190,
        "y": 720,
        "wires": [
            [
                "d37284e386a62d51",
                "35a1c8f58317fa37",
                "bd27dae8d0a9a1ef",
                "018e240aac75e7d9"
            ]
        ]
    },
    {
        "id": "35a1c8f58317fa37",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Turn off when room is empty",
        "func": "if (msg.userPolicy == \"auto\" && msg.detected == 0)\n    return msg;\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "d3f8722a40369012"
            ]
        ]
    },
    {
        "id": "018e240aac75e7d9",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Vocal command received",
        "func": "if ((msg.userPolicy == \"auto\" && msg.detected >= 1 && msg.brightnessLevel < 30) ||\n    msg.userPolicy == \"alwaysOn\")\n    return [msg, null];\nelse if ((msg.userPolicy == \"auto\" && msg.detected == 0 || msg.brightnessLevel > 50) ||\n    msg.userPolicy == \"alwaysOff\")\n    return [null, msg];\nelse \n    return [null, null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "597506e6593ceed0"
            ],
            [
                "d3f8722a40369012"
            ]
        ]
    },
    {
        "id": "e1c672dda13c63d2",
        "type": "invoke-action",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "09bafd41c31255f5",
        "action": "switchOff",
        "uriVariables": "",
        "x": 1710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "591489c47548ab6a",
        "type": "read-property",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "09bafd41c31255f5",
        "property": "lightBrightnessLevel",
        "uriVariables": "",
        "interval": 5,
        "observe": true,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "81f1b9b46745b38a"
            ]
        ]
    },
    {
        "id": "d3f8722a40369012",
        "type": "function",
        "z": "18c1a16c3624dbe9",
        "name": "Switch off if on",
        "func": "if (msg.status == \"on\")\n    return msg;\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 640,
        "wires": [
            [
                "e1c672dda13c63d2"
            ]
        ]
    },
    {
        "id": "187519add89d2638",
        "type": "read-property",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "09bafd41c31255f5",
        "property": "state",
        "uriVariables": "",
        "interval": 5,
        "observe": false,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "d3f8722a40369012",
                "597506e6593ceed0"
            ]
        ]
    },
    {
        "id": "07e42fbcab5e209f",
        "type": "invoke-action",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "09bafd41c31255f5",
        "action": "switchOn",
        "uriVariables": "",
        "x": 1750,
        "y": 260,
        "wires": [
            [
                "46c99b0b160d0596"
            ]
        ]
    },
    {
        "id": "46c99b0b160d0596",
        "type": "invoke-action",
        "z": "18c1a16c3624dbe9",
        "name": "",
        "topic": "",
        "thing": "09bafd41c31255f5",
        "action": "increaseBrightness",
        "uriVariables": "",
        "x": 2040,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "597506e6593ceed0",
        "type": "switch",
        "z": "18c1a16c3624dbe9",
        "name": "Switch on and increase brightness",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1460,
        "y": 320,
        "wires": [
            [
                "07e42fbcab5e209f"
            ],
            [
                "46c99b0b160d0596"
            ]
        ]
    },
    {
        "id": "ecf5c7010241d155",
        "type": "consumed-thing",
        "tdLink": "https://raw.githubusercontent.com/M-and-M-Engineers/pc-ex2/master/TDs/pdt.json",
        "td": "{\"id\":\"urn:pdt\",\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"title\":\"SmartPresenceDetectorThing\",\"description\":\"Smart Presence Detector to track presence of people\",\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"security\":[\"nosec_sc\"],\"properties\":{\"detected\":{\"type\":\"integer\",\"forms\":[{\"href\":\"http://localhost:10001/properties/detected\",\"op\":[\"readproperty\"],\"contentType\":\"application/json\"}],\"readOnly\":true,\"writeOnly\":false,\"observable\":true}},\"actions\":{\"setDetected\":{\"forms\":[{\"href\":\"http://localhost:10001/actions/setDetected\",\"op\":\"invokeaction\",\"contentType\":\"application/json\"}],\"safe\":false,\"idempotent\":true}},\"events\":{\"entrance\":{\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"ws://localhost:10001/events/entrance\",\"op\":\"subscribeevent\",\"contentType\":\"application/json\",\"subprotocol\":\"websub\"}]},\"exit\":{\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"ws://localhost:10001/events/exit\",\"op\":\"subscribeevent\",\"contentType\":\"application/json\",\"subprotocol\":\"websub\"}]}}}",
        "http": true,
        "ws": true,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "b507ea74aba2255b",
        "type": "consumed-thing",
        "tdLink": "https://raw.githubusercontent.com/M-and-M-Engineers/pc-ex2/master/TDs/slst.json",
        "td": "{    \"id\": \"urn:slst\",    \"@context\": \"https://www.w3.org/2019/wot/td/v1\",    \"title\": \"SmartLightSensorThing\",    \"description\": \"Smart Light Sensor to know the current level of brightness\",    \"securityDefinitions\": {        \"nosec_sc\": {            \"scheme\": \"nosec\"        }    },    \"security\": [        \"nosec_sc\"    ],    \"properties\": {        \"brightnessLevel\": {            \"type\": \"integer\",            \"forms\": [                {                    \"href\": \"http://localhost:10002/properties/brightnessLevel\",                    \"op\": [                        \"readproperty\"                    ],                    \"contentType\": \"application/json\"                }            ],            \"readOnly\": true,            \"writeOnly\": false,            \"observable\": true        }    },    \"actions\": {        \"setBrightnessLevel\": {            \"forms\": [                {                    \"href\": \"http://localhost:10002/actions/setBrightnessLevel\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        }    }}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "79d668470421dc01",
        "type": "consumed-thing",
        "tdLink": "https://raw.githubusercontent.com/M-and-M-Engineers/pc-ex2/master/TDs/vuit.json",
        "td": "{    \"id\": \"urn:vuit\",    \"@context\": \"https://www.w3.org/2019/wot/td/v1\",    \"title\": \"SmartVocalUIThing\",    \"description\": \"Smart Vocal UI that listens for user vocal commands.\",    \"securityDefinitions\": {        \"nosec_sc\": {            \"scheme\": \"nosec\"        }    },    \"security\": [        \"nosec_sc\"    ],    \"properties\": {        \"userPolicy\": {            \"type\": \"string\",            \"forms\": [                {                    \"href\": \"http://localhost:10004/properties/userPolicy\",                    \"op\": [                        \"readproperty\"                    ],                    \"contentType\": \"application/json\"                }            ],            \"readOnly\": true,            \"writeOnly\": false,            \"observable\": true        }    },    \"actions\": {        \"setUserPolicy\": {            \"forms\": [                {                    \"href\": \"http://localhost:10004/actions/setUserPolicy\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        }    }}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "09bafd41c31255f5",
        "type": "consumed-thing",
        "tdLink": "https://raw.githubusercontent.com/M-and-M-Engineers/pc-ex2/master/TDs/slt.json",
        "td": "{    \"id\": \"urn:slt\",    \"@context\": \"https://www.w3.org/2019/wot/td/v1\",    \"title\": \"SmartLightThing\",    \"description\": \"Smart Light with control of brightness level\",    \"securityDefinitions\": {        \"nosec_sc\": {            \"scheme\": \"nosec\"        }    },    \"security\": [        \"nosec_sc\"    ],    \"properties\": {        \"state\": {            \"type\": \"string\",            \"forms\": [                {                    \"href\": \"http://localhost:10003/properties/state\",                    \"op\": [                        \"readproperty\"                    ],                    \"contentType\": \"application/json\"                }            ],            \"readOnly\": true,            \"writeOnly\": false        },        \"lightBrightnessLevel\": {            \"type\": \"integer\",            \"forms\": [                {                    \"href\": \"http://localhost:10003/properties/lightBrightnessLevel\",                    \"op\": [                        \"readproperty\"                    ],                    \"contentType\": \"application/json\"                }            ],            \"readOnly\": true,            \"writeOnly\": false,            \"observable\": true        }    },    \"actions\": {        \"switchOn\": {            \"forms\": [                {                    \"href\": \"http://localhost:10003/actions/switchOn\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        },        \"switchOff\": {            \"forms\": [                {                    \"href\": \"http://localhost:10003/actions/switchOff\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        },        \"increaseBrightness\": {            \"forms\": [                {                    \"href\": \"http://localhost:10003/actions/increaseBrightness\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        },        \"decreaseBrightness\": {            \"forms\": [                {                    \"href\": \"http://localhost:10003/actions/decreaseBrightness\",                    \"op\": \"invokeaction\",                    \"contentType\": \"application/json\"                }            ],            \"safe\": false,            \"idempotent\": true        }    }}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    }
]